* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General */
.container {
    width: 1331px;
    margin: 0 auto;
}


/* Header */
.header .container {
    /* width: 1331px;
    margin: 0 auto; */
    padding: 34px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header .container .menu li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.header .container .menu .btn {
    padding: 5px 19px;
    border: 0;
    background: #CAA892;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    border-radius: 15px 0;
    cursor: pointer;
}

/* Hero */
.hero {}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.hero .container .text-content h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #646464;
    line-height: 27px;
    text-transform: uppercase;
}

.hero .container .text-content h1 {
    font-size: 72px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #212121;
    line-height: 78px;
    margin: 12px 0 22px;
}

.hero .container .text-content p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: #646464;
}

.hero .container .text-content .btn {
    padding: 10px 28px;
    border: 0;
    background-color: #37806b;
    color: #ffffff;
    border-radius: 20px 0;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-top: 40px;
}

