* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Header */
.header .container {
    width: 1331px;
    margin: 0 auto;
    padding: 34px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header .container .menu li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.header .container .menu .btn {
    padding: 5px 19px;
    border: 0;
    background: #CAA892;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    border-radius: 15px 0;
    cursor: pointer;
}