:root {
    --white: #ffffff;
    --black: #111111;
    --green: #37806B;
    --beige: #CAA892;
    --dark: #212121;
    --golden: #B0855B;
    --grey: #646464;
    --bg-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* General */
.container {
    width: 1331px;
    margin: 0 auto;
}

.titles .subtitle {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--grey);
}

.titles .title {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    line-height: 50px;
}

.btn {
    padding: 10px 28px;
    border: 0;
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px 0;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    border-radius: 0 20px;

}

.image-block {
    position: relative;
}

.image-block::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    border: 2px solid var(--golden);
    border-radius: 170px 0;
}

/* Header */
.header .container {
    /* width: 1331px;
    margin: 0 auto; */
    padding: 34px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header .container .menu li {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

.header .container .menu .btn {
    padding: 5px 19px;
    border: 0;
    background: var(--beige);
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    cursor: pointer;
    border-radius: 15px 0;
}


/* Hero */
.hero {
    position: relative;
}

.hero::after {
    content: '';
    width: 190px;
    height: 140px;
    position: absolute;
    left: 0;
    bottom: -80px;
    background-image: url(images/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.hero .container .text-content h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    line-height: 27px;
    text-transform: uppercase;
}

.hero .container .text-content h1 {
    font-size: 72px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    line-height: 78px;
    margin: 12px 0 22px;
}

.hero .container .text-content p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: var(--grey);
}

.hero .container .text-content .btn {
    margin-top: 40px;
}

.hero .container .image-block img {
    border-radius: 140px 0;
    width: 716px;
    height: 626px;
}

.hero .container .image-block::before {
    left: 35px;
    top: 35px;
}

/* Services */
.services {
    padding: 100px 0;
}

.services .container .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.services .container .top .arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.services .container .top .arrows .arrow {
    width: 30px;
    height: 30px;
    background: var(--white);
    box-shadow: -1px 3px 10px 0px #0000004D;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.services .container .top .arrows .arrow:last-child {
    width: 30px;
    height: 30px;
    background: var(--green);
    color: var(--white);
    box-shadow: -1px 3px 10px 0px #0000004D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.services .container .bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .container .bottom .item {
    width: 425px;
    box-shadow: 0px 8px 20px 0px #00000024;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 35px;
    border-radius: 60px 0;
}

.services .container .bottom .item .text h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

.services .container .bottom .item .text p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    line-height: 28px;
}

.services .container .bottom .item.beige {
    background: var(--beige);
}

.services .container .bottom .item.beige .text h3,
.services .container .bottom .item.beige .text p {
    color: var(--white);
}

/* About Us */
.about-us {
    margin: 100px 0;
}

.about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us .container .image-block {
    width: 680px;
    height: 726px;
}

.about-us .container .image-block::before {
    left: -35px;
    top: -35px;
}

.about-us .container .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 140px 0;
}

.about-us .container .text-content {
    width: 544px;
}

.about-us .container .text-content .titles .title {
    width: 490px;
}

.about-us .container .text-content .text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    margin: 22px 0 28px;
}

/* Work */
.work {
    margin: 100px 0;
}

.work .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work .container .text-content {
    width: 528px;
}

.work .container .text-content .number {
    font-size: 288px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 250px;
    /* color: transparent; */
    background: url(images/number-bg.png) no-repeat center / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work .container .text-content .title {
    margin: 20px 0;
}

.work .container .image-block {
    width: 680px;
    height: 726px;
}

.work .container .image-block::before {
    left: 35px;
    top: 35px;
}

.work .container .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 140px 0;
}

/* Stat */
.stat {
    background: var(--bg-color);
    padding: 90px 0;
}

.stat .container .titles {
    text-align: center;
    width: 830px;
    margin: 0 auto;
}

.stat .container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.stat .container .wrapper .number {
    width: 182px;
    height: 182px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 40px 0;
}

.stat .container .wrapper .number:nth-child(7),
.stat .container .wrapper .number:nth-child(3) {
    transform: translateY(50px);
}

.stat .container .wrapper .number p {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

.stat .container .wrapper .number span {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    text-transform: capitalize;
}

/* transform: translate(300px, -300px); */
/* transform: translateX(-150px); */
/* transform: rotate(45deg); */
/* transform: scale(0.7); */
/* transform: skew(-45deg, 25deg); */

/* Client */
.client {
    padding: 100px 0;
}

.client .container {}

.client .container .titles {
    text-align: center;
}

.client .container .arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;
    margin: 20px 0 80px;
}

.client .container .arrows .arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background: var(--green);
    color: var(--white);
    box-shadow: -1px 3px 10px 0px #0000004D;
}

.client .container .arrows .arrow:first-child {
    background: var(--white);
    color: var(--grey);
}

.client .container .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client .container .wrapper .card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    width: 632px;
}

.client .container .wrapper .card .image {
    width: 130px;
    height: 130px;
    border-radius: 35px 0;
    overflow: hidden;
    position: absolute;
    left: -30px;
}

.client .container .wrapper .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client .container .wrapper .card .content {
    width: 571px;
    box-shadow: 7px 7px 30px 5px #42605426;
    padding: 40px 35px 40px 100px;
    border-radius: 70px 0;
}

.client .container .wrapper .card .content .top {
    display: flex;
    justify-content: space-between;
}

.client .container .wrapper .card .content h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

.client .container .wrapper .card .content h2 span {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
}

.client .container .wrapper .card .content p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    margin-top: 10px;
}

/* email */
.email {
    padding: 90px 0;
    text-align: center;
}

.email .container .line {
    width: 461px;
    height: 1px;
    background-color: #C4c4c4;
    margin: 40px auto;
}

.email .container .text {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: var(--grey);
    width: 647px;
    margin: 0 auto;
}

.email .container form {
    width: 772px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto 0;
    background-color: #EEEEEE;
    border-radius: 20px 0;
    overflow: hidden;
}

.email .container form input {
    padding: 15px;
    flex-grow: 1;
    background: 0;
    border: 0;
    outline: 0;
}

.email .container form .btn {
    border-radius: 0;
}

/* footer */
.footer {
    background: #f8f8f8;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.footer .container h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: var(--dark);
    margin-bottom: 20px;
}

.footer .container ul li {
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: var(--grey);
    margin-bottom: 8px;
}

.footer .container .socials ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer .container .socials ul li {
    width: 37px;
    height: 37px;
    background-color: #d5d5d5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
}

.footer .container .socials ul li:hover {
    background: var(--green);
}

.footer .container .logo p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: var(--grey);
    width: 350px;
    margin-top: 15px;
}

.footer .copy {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    color: var(--grey);
    padding: 15px 0;
}


.footer .copy a {
    color: var(--green);
}